---
import Container from '../layouts/Container.astro';
import { CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
    const posts = await getCollection('posts');
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post
    }));
}
type Props = CollectionEntry<'posts'>;

const post = Astro.props;
const { Content, remarkPluginFrontmatter } = await post.render();
console.log(remarkPluginFrontmatter)
---

<Container>
    <div class="content">
        <div class="section-title">Blog Post</div>
        <section>
            <article class="h-entry">
                <h1 class="p-name">{post.data.title}</h1>
                <div>
                        🗓 <span class="dt-published">{post.data.date.toLocaleDateString(undefined, { year: 'numeric', month: 'long', day: 'numeric' })}</span> ::
                        🕑 ~{remarkPluginFrontmatter.minutesRead}
                </div>
            <Content />
            </article>
            <div class="comments">
                <div id="cusdis_thread"
                     data-host="https://cusdis.com"
                     data-app-id="ec698304-b2fd-4f80-bf18-3867119d076d"
                     data-page-id="{{ PAGE_ID }}"
                     data-page-url="{{ PAGE_URL }}"
                     data-page-title="{{ PAGE_TITLE }}"
                     data-theme="auto"
                ></div>
            </div>
        </section>
    </div>
</Container>